* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #434340;
}
textbox {
  padding: 0;
  margin: 0;
}
.b0{
  border-radius: 15px;
  background-color: #FFFD81;
  min-width: 130px;
  height: 50px;
}
.b1{
  border-radius: 15px;
  background-color: #FFFD81;
  min-width: 50px;
  height: 50px;
}

.b1:hover, .b0:hover{
  background-color: #FDFFB7;
}

.b2{
  border-radius: 15px;
  background-color: #ADFF78;
  min-width: 50px;
  height: 50px;
}
.b2:hover, .bAC:hover{
  background-color: #C9FFA6;
}

.bAC{
  border-radius: 15px;
  background-color: #00a8a8;
  min-width: 175px;
  height: 50px;
}
#CalculatorScreen{
  display: grid;
  grid-template-rows: 30px 30px;
  justify-content: center;
  height: 80px;
  background-color: #CFF414;
  padding-top: 10px;
}
#Screen1{
  display: block;
  width: 250px;
  background-color: #00502f;
  color: white;
  text-align: right;
  margin-top: 5px;
  padding-right: 8px;
  font-size: 13px;
}
#Screen2{
  display: block;
  width: 250px;
  background-color: #00502f;
  color: white;
  text-align: right;
  padding-right: 8px;
  font-size: 20px;
}

#CalculatorAC{
  display: grid;
  grid-template-columns: 200px 75px;
  background-color: #CFF414;
  justify-content: center;
}

#Calculator1-9{
  display: grid;
  grid-template-columns: 75px 75px 75px 75px;
  align-items: center;
  justify-items: center;
  background-color: #CFF414;
  width: 300px;
  height: 300px;
  z-index: 2;
}
#Calculator0{
  display: grid;
  grid-template-columns: 150px 75px 75px;
  align-items: center;
  justify-items: center;
  width: 300px;
  height: 75px;
  background-color: #CFF414;
}

#Number_Box{
  background-color: green;
  width: 100px;
  height: 50px;
  z-index: 1;
}