* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.b1{
  border-radius: 15px;
  background-color: #FEFFDE;
  width: 100px;
  height: 100px;
}

.b2{
  border-radius: 15px;
  background-color: #FFFD81;
  width: 100px;
  height: 100px;
}

#4x3{
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  align-items: center;
  justify-items: center;
  background-color: #CFF414;
  width: 600px;
  height: 600px;
  z-index: 2;
}

#Number_Box{
  background-color: green;
  width: 100px;
  height: 50px;
  z-index: 1;
}