* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #434340;
}
.b0{
  border-radius: 15px;
  background-color: #FFFD81;
  min-width: 250px;
  height: 100px;
}
.b1{
  border-radius: 15px;
  background-color: #FFFD81;
  min-width: 100px;
  height: 100px;
}

.b1:hover{
  background-color: #FDFFB7;
}

.b2{
  border-radius: 15px;
  background-color: #ADFF78;
  min-width: 100px;
  height: 100px;
}
.b2:hover{
  background-color: #C9FFA6;
}

#Calculator1-9{
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  align-items: center;
  justify-items: center;
  background-color: #CFF414;
  width: 600px;
  height: 600px;
  z-index: 2;
}
#Calculator0{
  display: grid;
  grid-template-columns: 300px 150px 150px;
  align-items: center;
  justify-items: center;
  width: 600px;
  height: 150px;
  background-color: white;
}

#Number_Box{
  background-color: green;
  width: 100px;
  height: 50px;
  z-index: 1;
}